/* ****************************** FISHEYE WEB SITE ****************************** */
body {
    font-family: "DM Sans", sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
}
/*
.logo {
    height: 50px;
    margin-left: 100px;
}*/

@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }   
}

