/* ****************************** FISHEYE WEB SITE ****************************** */
/* CSS photographers_section */
.photographers_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin-top: 100px;
}

.photographers_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographers_section article a{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographers_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographers_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 0 .8rem rgba(17, 17, 17, 0.527);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.article {
    margin: .5rem;
    padding: .3rem;
    text-align: center;
    width: 22rem;
}

.location {
    color: #901C1C;
    margin: .2rem;
}

.name {
    color: #D3573C;
    font-size: 1.7rem;
    margin-bottom: .7rem;
    overflow: hidden;
}

.price {
    color: #757575;
    margin: 0;
}

.tagline {
    margin: 0;
}

@media (max-width: 900px) {

    .photographers_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        margin-top: 100px;
    }
}

@media (max-width: 600px) {

    .photographers_section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 90px;
        margin-top: 100px;
    }
}