/* Lightbox style */
#lightbox-body {
    background-color: #fff;
    height: 90%;
    left: 50%;
    margin: 0 auto;
    position: fixed;
    text-align: left;
    top: 3%;
    transform: translate(-50%, 0);
    width: 60%;
}

#gallery-lightbox-media {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    margin: 0 auto 1rem;
    overflow: hidden;
    width: 90%;
    display: flex;
    align-content: center;
}

#gallery-lightbox-media img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

#gallery-lightbox-media video {
    height: 90%;
    object-fit: fill;
    width: 100%;
}
.close-lightbox-icon {
    color: #901C1C;
    font-size: 1.7rem;
    position: absolute;
    right: -3rem;
    top: 0.5rem;
}

.left-arrow-lightbox-icon {
    color: #901C1C;
    font-size: 2rem;
    left: -3rem;
    position: absolute;
    top: 48%;
}

.right-arrow-lightbox-icon {
    color: #901C1C;
    font-size: 2rem;
    position: absolute;
    right: -3rem;
    top: 48%;
}

#gallery-lightbox  {
    background-color: #fff;
    display: none;
    height: 200vw;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#gallery-lightbox article:nth-last-child(1) {
    color: #901C1C;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

#gallery-lightbox-name{
    left: 10rem;
    position: absolute;
}

@media (min-width: 600px) {
    .close-lightbox-icon {
        cursor: pointer;
        right: 1rem;
        top: 0.5rem;
    }

    .left-arrow-lightbox-icon {
        cursor: pointer;
        left: 0;
        top: 48%;
    }

    .right-arrow-lightbox-icon {
        cursor: pointer;
        right: 0;
        top: 48%;
    }

    #gallery-lightbox  article:nth-last-child(1) {
        left: 50%;
        padding: 0.5rem 0;
    }

    
}

@media (max-width: 900px) {
    #gallery-lightbox-media video {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}